#profile-main .top-tabs .change_password_div {
    h2 {
      box-shadow: inset 0 -1px 0 0 #ced4da;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      color: #313e59;
      padding-bottom: 10px;
    }
    form.passrd_form {
      &.row {
        padding-top: 30px;
        margin-left: -15px;
        margin-right: -15px;

      }
      input.form-control {
        height: 46px;
        border-radius: 6px;
        border: solid 1px #e9ebed;
        background-color: #ffffff;
        color: #939da7;
        font-family: Roboto;
        font-size: 14px;
        box-shadow: none;
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
      .form-group {
        margin-bottom: 10px;
      }
      .update_pass_btn {
        height: 46px;
        border-radius: 6px;
        box-shadow: 0 4px 10px 0 rgba(38, 50, 77, 0.14);
        background-color: #9adf55;
        border: none;
        color: #fff;
        width: 100%;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        margin-top: 12px;
        &:focus {
          outline: none;
        }
      }
      .forgot_pass a {
        font-family: Roboto;
        font-size: 14px;
        color: #939da7;
        margin-top: 20px;
        display: inline-block;
      }
    }
  }